{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}zssn - edit{% endblock %}

{% block content %}
<form id="survivorForm" class="p-5 border" method="POST">
    <input id="pk" type="hidden" value="{{view.kwargs.pk}}">
    <fieldset>
        <legend class="fs-5 fw-bold">Sobrevivente:</legend>
        <div class="row mt-2">
            <div class="col">
                <label for="name" class="form-label">Nome:</label>
                <input id="name" name="name" type="text" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="age" class="form-label">Idade:</label>
                <input id="age" name="age" type="number" min="0" class="form-control" readonly>
            </div>
            <div class="col">
            <label for="gender" class="form-label">Sexo:</label>
                <select name="gender" class="form-select" value="M" readonly>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label for="latitude" class="form-label">Latitude:</label>
                <input id="latitude" name="latitude" type="number" min="-90" max="90" step="0.001"
                    class="form-control">
            </div>
            <div class="col">
                <label for="longitude" class="form-label">Longitude:</label>
                <input id="longitude" name="longitude" type="number" min="-180" max="180" step="0.001"
                    class="form-control">
            </div>
        </div>
    </fieldset>
    <fieldset name="inventory" class="mt-5">
        <legend class="fs-5 fw-bold">Itens:</legend>

        <p id="errosInventory" class="text-danger" style="display: none"></p>

        <div class="row mt-2">
            <div class="col">
                <label for="water" class="form-label">Água:</label>
                <input id="water" name="inventory.water" type="number" min="0" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="food" class="form-label">Alimentação:</label>
                <input id="food" name="inventory.food" type="number" min="0" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="medication" class="form-label">Medicação:</label>
                <input id="medication" name="inventory.medication" type="number" min="0" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="ammunition" class="form-label">Munição:</label>
                <input id="ammunition" name="inventory.ammunition" type="number" min="0" class="form-control" readonly>
            </div>
        </div>
    </fieldset>

    <div class="mt-5 d-flex">
        <button id="btnSalve" class="btn btn-success ms-auto">
            <i class="bi bi-clipboard-heart-fill"></i>
            Salvar
        </button>
    </div>
</form>

<div id="contentNotFound" class="mt-2 p-5" style="display: none;">
    <h1>Not Found</h1>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/edit-survivor.js'%}"></script>
{% endblock %}