{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}zssn - index{% endblock %}

{% block content %}
<div class="mt-5 d-flex">
    <a class="btn btn-primary ms-auto" href="{% url 'create-survivor' %}" role="button">
        <i class="bi bi-plus-circle"></i>
        Adicionar
    </a>
</div>
<div class="border mt-2 p-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Sexo</th>
                <th scope="col">Local</th>
                <th scope="col">Infectado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="survivorList">

        </tbody>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/survivor.js'%}"></script>
{% endblock %}