{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}zssn - reports{% endblock %}

{% block content %}
<div class="p-4 border">
    <div class="row border p-4 text-center">
        <div class="col-12 col-sm-4">
            <b>Infectados:</b> <span id="infectedValue"></span>
        </div>
        <div class="col-12 col-sm-4">
            <b>Não infectados:</b> <span id="uninfectedValue"></span>
        </div>
        <div class="col-12 col-sm-4">
            <b>Pontos perdidos:</b> <span id="lostPointValue"></span>
        </div>
    </div>

    <div class="row class mt-5">
        <div class="col-12 col-sm-6 border">
            <div id="infectedChart" style="width: 100%; height: 500px;"></div>
        </div>
        <div class="col-12 col-sm-6 border">
            <div id="avgChart" style="width: 100%; height: 500px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/reports.js'%}"></script>
{% endblock %}